body {
    background-color: #efefef;
}

.page-header {}

.page-content {
    padding: 30px;

}

.bg-white {
    background-color: white;
}

.container {
    max-width: 800px;
}

.tag-editorial {
    background-color: blue;
}