body {
    background-color: #efefef;
}

.page-content {
    padding: 30px;

}

.bg-white {
    background-color: white;
}

.container {
    max-width: 800px;
}

.tag-editorial {
    background-color: rgba(34, 34, 238, 0.723);
    border-radius: 10px;
    font-size: small;
}